body
{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/man.jpg');
    font-family: 'Playfair Display', serif;
}
.left
{
    display: inline-block;
    position: absolute;
    left: 34px;
    top:20px;
    /* border: 2px solid orangered;*/
}
.left img
{
    width: 100px;
}
.left div
{
    text-align: center;
}
.mid
{
    display: block;
    width: 36%;
    margin: 20px auto;
   /* border: 2px solid green; */
}
.right
{
    position: absolute;
    right: 34px;
    top:20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar
{
    display: inline-block;
}
.navbar li
{
    display: inline-block;
    font-size: 16px;
}
.navbar li a
{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover
{
    text-decoration: underline;
    color: gray;
}
.btn
{
    font-family: 'Playfair Display', serif;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 12px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover
{
    background-color:white;
    color: rgb(10, 136, 83);
}
.container
{
    /* border: 2px solid green; */
    margin: 100px 80px;
    padding: 20px;
    width: 33%;
    border-radius: 28px;
}
.form-group
{
    font-family: 'Playfair Display', serif;
    text-align: center;
    display: block;
    width: 350px;
    padding: 2px;
    margin: 3px auto;
    font-size: 25px;
    border-radius: 8px;
}
.form-group input
{
    font-family: 'Playfair Display', serif;
    text-align: center;
    display: block;
    width: 90%;
    padding: 2px;
    font-size: 25px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 8px;
}
.container h1
{
    text-align: center;
}
.container button
{
    display: block;
    width: 23%;
    margin: auto;
}